<h1 class="text-success my-4">Admin Dashboard</h1>
<ul class="mt-5">
  <li><h3>Number of Products: <span class="text-primary"><%= @product_count %></span></h3></li>
  <li><h3>Number of Categories: <span class="text-primary"><%= @category_count %></span></h3></li>
</ul>
